* {
  margin: 0;
  padding: 0;
}

.restaurant-card {
  border: black 1px solid;
  padding: 5px;
  margin: 20px;
  color: white;
  text-decoration: none;
}
.order-card {
  border: black 1px solid;
  padding: 5px;
  margin: 20px;
  color: white;
}

.login {
  background-image: url('./media/login_background.jpg');
  height: 100vh;
  font-family: 'Special Elite', cursive;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.homepage {
  background-image: url('./media/pizza-1920x1080-tomato-pepper-4k-16605.jpg');
  height: 100vh;
  font-family: 'Special Elite', cursive;
  display: flex;
  justify-content: center;
}

.logo {
  text-align: center;
  padding-top: 40vh;
  font-size: 8rem;
  color: red;
  text-shadow: 5px 5px black;
  letter-spacing: 1.5rem;
  font-weight: 300;
}

.form {
  justify-content: center;
}

.order-form {
  margin: 20px;
}

.submit-button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

.submit-button:hover{
  background-color:#4095c6;
}

.submit-button-delete {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color: red;
  text-align:center;
  transition: all 0.2s;
}

.submit-button-delete:hover{
  background-color:red;
}

.popup{
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;
margin: auto;
border-radius: 20px;
background-image: url('./media/empty-pizza-box.jpg');
background-size: cover;
background-position: center;
overflow: hidden;
}

.popuptext {
  text-align: center;
}

.order-details {
  background-image: url('./media/download.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Special Elite', cursive;
  color: white;
}

.restaurant-details {
  background-image: url('./media/download2.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Special Elite', cursive;
  color: white;
}

.restaurant-details-2 {
  display: flex;
}

.restaurant-title {
  margin-left: 50%;
}