.restaurant-card {
  border: black 1px solid;
  padding: 5px;
  margin: 20px;

}
.order-card {
  border: black 1px solid;
  padding: 5px;
  margin: 20px;
}

.login {
  background-image: url('./media/login_background.jpg');
  height: 100vh;
  font-family: 'Special Elite', cursive;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.logo {
  text-align: center;
  padding-top: 40vh;
  font-size: 8rem;
  color: red;
  text-shadow: 5px 5px black;
  letter-spacing: 1.5rem;
  font-weight: 300;
}

.form {
  justify-content: center;
}